/* App */
.App {
  padding: 0 1rem;
  display: flex;
  min-height: 100dvh;
  place-items: center;
  justify-content: center;
}

/* HOME */
.home {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.home__mode-option--selected,
.home__range-option--selected {
  background-color: #4CAF50;
  color: white;
}

/* GAME */
.game__options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.game__progress-bar-container {
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  margin: 20px 0;
}

.game__progress-bar-filler {
  height: 20px;
  background-color: #4caf50;
  /* Adjust the color to fit your design */
  border-radius: 8px 0 0 8px;
  /* Smooths the left side of the bar */
  transition: width 0.5s ease-in-out;
  /* Smooth transition for the bar growth */
}

.game__option-button {
  min-width: 10rem;
}